<div>
    <h4>life</h4>
    <p>Life magazine, stylized LIFE, was an American magazine that ran weekly from 1883 to 1972, published initially as a humor and general interest magazine. Time founder Henry Luce bought the magazine in 1936, solely so that he could acquire the rights to its name, and shifted it to a role as a weekly news magazine with a strong emphasis on photojournalism. Life was published weekly until 1972, as an intermittent "special" until 1978, and as a monthly from 1978 to 2002.</p>
</div>